@using PagedList;
@using PagedList.Mvc;

@model PagedList.IPagedList<DiethelmTSWebsite2015.Models.SysBanner>

@{
    ViewBag.Title = "Index";

    DiethelmTSWebsite2015.Biz.SysUserBiz biz = new DiethelmTSWebsite2015.Biz.SysUserBiz();
    var userList = biz.GetUser(DiethelmTSWebsite2015.Core.Types.UserType.All);
    int count = 1;
    DiethelmTSWebsite2015.Biz.CountryCollection countryColl = new DiethelmTSWebsite2015.Biz.CountryCollection();
}
<div class="row">
    <div class="columns small-6 large-6"><h3>Banner </h3></div>
    <div class="columns small-6 large-6 padding-top-10 text-right">
        <a href="@Url.Action("Create")" class="button radius tiny">Create</a>
        <a href="@ViewBag.BackUrl" class="button radius tiny">Back</a>
</div>
</div>

<div class="table-container">
    <div class="table-row-head row">
        <div class="table-column columns small-1">No.</div>
        <div class="table-column columns small-3">Country</div>
        <div class="table-column columns small-3">Title</div>
        <div class="table-column columns small-3">Last Update</div>
        <div class="table-column columns small-2">Tools</div>
    </div>
    @foreach (var item in Model)
    {
        <div class="table-row row">
            <div class="table-column columns small-1 text-center">
                @count
            </div>
            <div class="table-column columns small-3">
                @countryColl[item.CountryID].Name
            </div>
            <div class="table-column columns small-3">
                @Html.DisplayFor(modelItem => item.Title)
            </div>
            <div class="table-column columns small-3 text-center">
                @item.UpdateDate.ToString("dd-MMM-yyyy") (@DiethelmTSWebsite2015.Biz.SysUserBiz.GetUserName(userList, item.UpdateBy))
            </div>
            <div class="table-column columns small-2 text-center">
                <a href="@Url.Action("Edit", new { id = item.ID })"><img src="/Images/icon_edit.png" title="Edit"> </a>
                <a href="#" onclick="Delete('@item.ID')"><img src="/Images/icon_delete.png" title="Delete"></a>
            </div>
        </div>
        count++;
    }

</div>

    <div class="float-left">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("List", new { page = page }), (PagedListRenderOptions)ViewBag.PagedListRender)
    </div>

@section Scripts {

    <script type="text/javascript">
        function Delete(id) {
            if (confirm("Do you want to delete?")) {
                $.ajax({
                    url: '@Url.Action("Delete", "SysBanner")?id=' + id,
                    type: 'GET',
                    async: false,
                    success: function (result) {
                        location.reload();
                    }
                });
            }
        }
    </script>


}
