@model DiethelmTSWebsite2015.Models.SysUser

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Change Password</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="row">
            <div class="columns small-2 editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="columns small-10 editor-field">
                @Html.TextBoxFor(model => model.UserName, new { disabled="disabled", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.UserName)
            </div>

             <div class="columns small-2 editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="columns small-10 editor-field">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div class="columns small-2 editor-label">
                @Html.LabelFor(model => model.ConfirmPassword)
            </div>
            <div class="columns small-10 editor-field">
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>

        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.CreateDate)
        @Html.HiddenFor(model => model.CreateBy)
        @Html.HiddenFor(model => model.Title)
        @Html.HiddenFor(model => model.FirstName)
        @Html.HiddenFor(model => model.IsActive)
        @Html.HiddenFor(model => model.IsAdmin)
        @Html.HiddenFor(model => model.IsSupuerAdmin)
        @Html.HiddenFor(model => model.LastName)
        @Html.HiddenFor(model => model.Status)
        @Html.HiddenFor(model => model.UpdateDate)
        @Html.HiddenFor(model => model.UpdateBy)

            <div class="columns small-12 text-right">
                <input type="submit" value="Save" class="button radius tiny" /> <input type="button" value="Cancel" class="button radius tiny" onclick="history.back();" />
            </div>
        </div>
    </fieldset>
}