@using DiethelmTSWebsite2015.Core
@model DiethelmTSWebsite2015.Models.SysCustomizedFeatureView

@{
    ViewBag.Title = "Customize";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
<fieldset>
    <legend>Customize User Permission</legend>
@using (Html.BeginForm("Edit", "SysCustomizedFeature", FormMethod.Post, new { id = "main-form"})) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x=>x.UserId)
    <div class="row">
        <div class="columns small-12 large-2 editor-label">
            @Html.LabelFor(model => model.UserName, "User")
        </div>
        <div class="columns small-12 large-10 editor-field">
            @Html.TextBoxFor(model => model.UserName, new { @readonly="readonly" })
        </div>
        <div class="columns small-12 large-2 editor-label">
            Permission
        </div>
        <div class="columns small-12 large-10 editor-field">
            @if (Model.Features != null)
            {
                for (int i = 0; i < Model.Features.Count; i++)
                {
                    <div class="row">
                        <div class="column large-2">
                            @Html.Hidden(string.Format("Features[{0}].FeatureId", i), Model.Features[i].FeatureId)
                            @Html.Hidden(string.Format("Features[{0}].FeatureName", i), Model.Features[i].FeatureName)
                            @Model.Features[i].FeatureName
                        </div>
                        <div class="column large-2">
                            @Html.CheckBox(string.Format("Features[{0}].Viewable", i), Model.Features[i].Viewable) View                        
                        </div>
                        <div class="column large-2">
                            @Html.CheckBox(string.Format("Features[{0}].Addable", i), Model.Features[i].Addable) Add                        
                        </div>
                        <div class="column large-2">
                            @Html.CheckBox(string.Format("Features[{0}].Editable", i), Model.Features[i].Editable) Edit                        
                        </div>
                        <div class="column large-4">
                            @Html.CheckBox(string.Format("Features[{0}].Deletable", i), Model.Features[i].Deletable) Delete                        
                        </div>
                    </div>
                }
            }
        </div>
        @Html.ValidationSummary(false)
 
        <div class="columns small-12 text-right">
            <a onclick=" Submit(); " class="button radius tiny">Save</a>
            &nbsp;
            <a onclick=" history.back(); " class="button radius tiny">Back</a>
        </div>
    </div>
}
</fieldset>
@section scripts{
    <script>
        function Submit() {
            $('#main-form').submit();
        }
    </script>
}
