@model DiethelmWebServiceClient.TSWS.BookingInfoResponses
@using DiethelmWebServiceClient.TSWS

@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";

    BookingInfoResponse info = (BookingInfoResponse)Model.ResponseList[0];
}
<div class="row step-title">
    <div class="small-12 medium-4 columns">
        <h3 class="step-title-label">Booking</h3>
    </div>
    <div class="small-12 medium-8 columns progress-bar">
        <img src="~/Images/progress_s6.png" />
    </div>
</div>
<div class="row hotel-detail margin-top30">
    <div class="column small-12 detail-title">
        Finish
    </div>
</div>
<div class="row">
    <div class="small-12 columns booking-head-bg-red">
        PNR Detail @*(Payment Status : @ViewBag.PaymentStatus)*@
    </div>
</div>




<div class="row  margin-top30">
    <div class="small-3 columns booking-small-red-font">
        Your Booking Reference :
    </div>
    <div class="small-3 columns booking-small-gray-font">
        @info.BookingReference
    </div>
    <div class="small-3 columns booking-small-red-font">
        Status :
    </div>
    <div class="small-3 columns booking-small-gray-font">
        @info.BookingStatus.ToString()
    </div>
</div>

<div class="row booking-review-bottom-line margin-top30">
    <div class="small-12 columns">
    </div>
</div>

<div class="row margin-top30" style="margin-bottom: 100px;">
    <div class="small-12 columns booking-big-red-font center">
        Thank you for choosing Diethelm Travel
    </div>
</div>

  <div class="row">
        <div class="small-4 columns">
            Confirmation Document file:
        </div>
        <div class="small-8 columns" id="ConfInvoicePdfLink">
            Loading...
        </div>
    </div>
    <div class="row">
        <div class="small-4 columns">
            Itinerary Document file:
        </div>
        <div class="small-8 columns" id="ItinPdfLink">
            Loading...
        </div>
    </div>

@section scripts
{
    <script type="text/javascript" >

        $(document).ready(function () {
            //ExportPDF('Confirmation Proforma Invoice', 'Default Itinerary Name', 'ConfInvoicePdfLink');
            ExportPDF('Itinerary', 'Confirmation Proforma Invoice', 'ConfInvoicePdfLink');
            ExportPDF('Itinerary', 'Default Itinerary Name', 'ItinPdfLink');
        });

        function ExportPDF(templateName, itinName, link) {

            //$('#Loading').foundation('reveal', 'open');
            $.ajax({
                url: '@Url.Action("ExportPDF", "Booking")',
                type: 'GET',
                data: {
                    BookingRefNo: "@info.BookingReference",
                    TemplateName: templateName,
                    ItinName: itinName,
                    LanguageName: "English"
                },
                success: function (data) {
                    $("#" + link).html("<a href='" + data + "' target='_blank' >Please Click here to download document.</a>");

                }
           
    </script>
}

