@model DiethelmTSWebsite2015.Models.Dining

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Dining</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Restaurant)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Restaurant)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cuisine)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cuisine)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PriceRange)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PriceRange)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CityID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CityID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CountryID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CountryID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Thumbnail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Thumbnail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telephone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telephone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WebSite)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WebSite)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Map)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Map)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateBy)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
