@model DiethelmTSWebsite2015.Models.Contact

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Contact</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CountryID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CountryID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MailingAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MailingAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GeneralLine)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GeneralLine)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GeneralFax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GeneralFax)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GeneralEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GeneralEmail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactPerson)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactPerson)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JobTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JobTitle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MobilePhone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MobilePhone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DirectEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DirectEmail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateBy)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
