@using DiethelmTSWebsite2015.Core

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    DiethelmTSWebsite2015.Biz.DataManager dataManager = DiethelmTSWebsite2015.Biz.DataManager.Instance;
    var isLogin = dataManager.IsAgencyLogin();
}
@if (isLogin)
{
    <div id="TransferSearchBox"></div>
}
@using (Html.BeginForm("Detail", "Transfer", FormMethod.Post, new { id = "frmDetail"}))
{
    <input type="hidden" id="PackageID" name="PackageID" value=""/>
    <input type="hidden" id="IsLandingPage" name="IsLandingPage" value="true"/>
    
<div class="row">

    <div class="small-12 columns margin-top30" id="SpecialPromotion">
        <div class="row " id="LandingContainer">
            <div class="small-12 columns center">
                <img src="@Url.Content("~/Images/loading.gif")" />
            </div>
            <script type="text/javascript">
                $.ajax({
                    url: '@Url.Action("LandingData", "Transfer")',
                    type: 'GET',
                    data: {
                        country: '@Utility.GetCurrentCountryName()'
                    },
                    success: function (data) {
                        $('#LandingContainer').html(data);
                    }
                });
            </script>
            @*@{  Html.RenderAction("LandingData", "Transfer", new { country = Utility.GetCurrentCountryName() });  }*@
        </div>

    </div>
</div>
}

@section banner
{
    @{  Html.RenderAction("ShowBanner", "SysBanner", new { country = Utility.GetCurrentCountryName() });  }
}

@section Scripts {

    <script src="@Url.Content("~/Scripts/TS/Package.js")"></script>
    <script type="text/javascript" >
        $(document).ready(function () {
            
            $.ajax({
                url: '@Url.Action("QuickSearch", "Transfer")',
                type: 'GET',
                success: function (data) {
                    $('#TransferSearchBox').html(data);
                }
            });

        });

        function GotoDetail(serviceID) {
            $("#PackageID").val(serviceID);
            $("#frmDetail").submit();
        }
    </script>
}