@model DiethelmTSWebsite2015.Models.HotelSort
@using DiethelmTSWebsite2015.Biz

@{
    Layout = null;
    DiethelmTSWebsite2015.Models.HotelSort obj = new DiethelmTSWebsite2015.Models.HotelSort();
    int i = 0;
}

@*<dl class="tabs herizontal-tabs">
    <dd class="active"><a href="#sortname">Name</a></dd>
    <dd><a href="#sortprice">Price</a></dd>
    <dd><a href="#sortstar">Star Rating</a></dd>
</dl>*@

<ul class="herizontal-tabs tabs" data-tab>
    @{ 
         obj = DiethelmTSWebsite2015.Biz.DataManager.Hotel.GetSortCookie();
    }
    @foreach (var item in Model.SortColumn.ToSelectList())
    {
        if(i==0)
        {
            <li class="tab-title">
                <a onclick="SetSort('@item.Value')">@item.Value <img class="sortImg" src="/Images/red-arrow2.png"  /></a>
            </li>
        }
        else
        {
            <li class="tab-title">
                <a><span onclick="SetSort('@item.Value')">@item.Value</span> <img class="sortImg" src="/Images/red-arrow2.png" onclick="SetSort('@item.Value')" /></a>
            </li>
        }
        i++;
    }

</ul>
<div style="display:none;">
    @Html.DropDownListFor(model => model.SortColumn, Model.SortColumn.ToSelectList())
    @Html.DropDownListFor(model => model.SortType, Model.SortType.ToSelectList())
</div>

@*<div>
    @{ 
         obj = DiethelmTSWebsite2015.Biz.DataManager.Hotel.GetSortCookie();
    }
    @foreach (var item in Model.SortColumn.ToSelectList())
    {
        <div>@item.Value 
            <img class="sortImg" src="/Images/red-arrow3.png" onclick="SetSort('@item.Value')" />
        </div>
    }

</div>*@


<script type="text/javascript" >
    var sortType = 0;
    $(document).ready(function () {

        var obj = $.cookie("@DataManager.Hotel.SORT_COOKIE_NAME");
        var sortObj = null;

        if (obj) {

            sortObj = queryStringToJSON(obj);
            fillSortForm(sortObj);
        }

        //$('#SortColumn').val("Price");
        //$('#SortType').val("Descending");
        //SortProcess(true);
        $('select[name=SortColumn]').change(function () {
            SortProcess(true);
        });

        $('select[name=SortType]').change(function () {
            SortProcess(true);
        });
    });
    function SetSort(sortColumn) {
        $('#SortColumn').val(sortColumn);
        
        if (sortType % 2) {
            $('#SortType').val("Descending");
            $('.sortImg').attr('src', '/Images/red-arrow2.png');
        } else {
            $('#SortType').val("Ascending");
            $('.sortImg').attr('src', '/Images/red-arrow3.png');
        }
        sortType = sortType + 1;
        SortProcess(true);
    }

    function SortProcess(IsResetPaging) {
        $.ajax({
            url: '@Url.Action("SortProcess", "Hotel")',
                type: 'GET',
                data: {
                    SortColumn: $('#SortColumn').val(),
                    SortType: $('#SortType').val(),
                    IsResetPaging: IsResetPaging
                },
                success: function (data) {
                    $('#HotelSearchResult').html(data);
                    ShowLoadMoreButton();
                }
            });
        }
</script>
