@model DiethelmTSWebsite2015.Models.JobApplication

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>JobApplication</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JobTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JobTitle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Responsibilities)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Responsibilities)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Qualifications)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Qualifications)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Destination)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Destination)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Country)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PublicationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PublicationDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateBy)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
