@using DiethelmTSWebsite2015.Core;
@model DiethelmTSWebsite2015.Models.SysPost

<div class="small-12 medium-6 columns awesome-deal-large">
    <a href="@Url.Action("ContentDetail", "Home", new { postId = Model.ID })"><img src="/assets/thumbnail/@Model.Image" onerror="this.onerror = null; this.src = '/Images/Noimage.jpg';" /></a>
    <a href="@Url.Action("ContentDetail", "Home", new { postId = Model.ID })">
    <h5 class="content-title">@Model.Title</h5></a>
    <span class="content-shot-description"><b>@Model.ShortDescription</b></span>
    <span class="content-data">@Utility.GetShortTextNoHTML(HttpUtility.HtmlDecode(Model.Description))</span>
    <a class="link-readmore" href="@Url.Action("ContentDetail", "Home", new { postId = Model.ID })">Read more</a>
</div>