@model DiethelmTSWebsite2015.Models.ExcursionSearchResult

<div class="small-12 columns content-detail left">
    <div class="row">
        <div class="small-12 columns package-small-pic">
            <img src="@Model.Image" onerror="this.onerror = null; this.src = '/Images/Noimage.jpg';" title="@Model.ExcursionName" alt="@Model.ExcursionName" onclick="GotoDetail('@Model.ExcursionID')" />
        </div>
        <div class="small-12 columns display-block">
            @if (Model.Available=="Yes") {
                <img src="/Images/status.png" class="float-left"  />
            }
            else if (Model.Available=="No"){
                <img src="/Images/OnRequest.png" class="float-left"  />
            }
            @if (Model.TourType == DiethelmTSWebsite2015.Models.ExcursionTourType.Join)
            { 
                <img src="/Images/Join.png" class="float-right"  />
            }
            @if (Model.TourType == DiethelmTSWebsite2015.Models.ExcursionTourType.Private)
            {
                <img src="/Images/Private.png" class="float-right"  />
            }
        </div>
        <div class="small-12 columns">
            <h6 onclick="GotoDetail('@Model.ExcursionID')">@Model.ExcursionName</h6>
        </div>
        <div class="small-12 columns">
        <div class="price-red">from <b> @Model.Currency @Math.Ceiling(Model.Price).ToString("#,##0") </b></div>
        </div>
        <div class="small-12 columns">
            <span class="content-detail-desc">@Model.ExcursionDescription</span>
        </div>
        <div class="small-12 columns">
            <span class="link-readmore" onclick="GotoDetail('@Model.ExcursionID')">read more</span>
        </div>
    </div>
</div>