@model DiethelmTSWebsite2015.Models.PackageSearchResult

<div class="small-12 columns content-detail left">
    <div class="row">
        <div class="small-12 columns package-small-pic">
            <img src="@Model.Image" onerror="this.onerror = null; this.src = '/Images/Noimage.jpg';" onclick="GotoDetail('@Model.PackageID')" title="@Model.PackageName" alt="@Model.PackageName" />
        </div>
        <div class="small-12 columns display-block">
            @if (Model.Available=="Yes") {
                <img src="/Images/status.png" class="float-left"  />
            }
            else if (Model.Available=="No"){
                <img src="/Images/OnRequest.png" class="float-left"  />
            }
            @if (Model.TourType == DiethelmTSWebsite2015.Models.PackageTourType.Join)
            { 
                <img src="/Images/Join.png" class="float-right"  />
            }
            @if (Model.TourType == DiethelmTSWebsite2015.Models.PackageTourType.Private)
            {
                <img src="/Images/Private.png" class="float-right"  />
            }
        </div>
        <div class="small-12 columns">
            <h6 onclick="GotoDetail('@Model.PackageID')">@Model.PackageName</h6>
        </div>
        <div class="small-12 columns">
        <div class="price-red">from <b>THB @Math.Ceiling(Model.Price).ToString("#,##0") </b></div>
        </div>
        <div class="small-12 columns">
            <span class="content-detail-desc">@Model.PackageDescription</span>
        </div>
        <div class="small-12 columns">
            <span class="link-readmore" onclick="GotoDetail('@Model.PackageID')">read more</span>
        </div>
    </div>
</div>