@model DiethelmTSWebsite2015.Models.TransferSearchResult

<div class="small-12 medium-4 columns content-detail-transfer-small left">
    <div class="row">
        <div class="small-12 columns transfer-small-pic">
            <img src="@Model.Image" onclick="GotoDetail('@Model.PackageID')" onerror="this.onerror = null; this.src = '/Images/Noimage.jpg';" title="@Model.PackageName" alt="@Model.PackageName" />
        </div>
        <div class="small-12 columns display-block">
            <div class="price-red float-left"><b> THB @Math.Ceiling(Model.Price).ToString("#,##0") </b></div>
            @if (Model.Available == "Yes")
            {
                <img src="/Images/status.png" class="float-right" />
            }
            else if (Model.Available == "No")
            {
                <img src="/Images/OnRequest.png" class="float-right" />
            }
            @if (Model.TransferType == DiethelmTSWebsite2015.Models.PackageTourType.Join)
            {
                <img src="/Images/Join.png" class="float-right" />
            }
            @if (Model.TransferType == DiethelmTSWebsite2015.Models.PackageTourType.Private)
            {
                <img src="/Images/Private.png" class="float-right" />
            }
        </div>
        <div class="small-12 columns">
            <h6 onclick="GotoDetail('@Model.PackageID')">@Model.PackageName</h6>
        </div>
        <div class="small-12 columns transfer-content">
            <span class="content-detail-desc">@Model.PackageDescription</span>
        </div>
        <div class="small-12 columns">
            <span class="link-readmore" onclick="GotoDetail('@Model.PackageID')">read more</span>
        </div>
    </div>
</div>

