@using PagedList;
@using PagedList.Mvc;

@model IPagedList<DiethelmTSWebsite2015.Models.Holiday>
@{
    ViewBag.Title = "List";

    string country = Request.RequestContext.RouteData.Values["country"].ToString();
    DiethelmTSWebsite2015.Biz.CountryCollection countryColl = new DiethelmTSWebsite2015.Biz.CountryCollection();

    DiethelmTSWebsite2015.Biz.SysCategoryBiz catBiz = new DiethelmTSWebsite2015.Biz.SysCategoryBiz();
    var list = catBiz.Get(countryColl[country].ID);

    DiethelmTSWebsite2015.Biz.SysUserBiz biz = new DiethelmTSWebsite2015.Biz.SysUserBiz();
    var userList = biz.GetUser(DiethelmTSWebsite2015.Core.Types.UserType.All);

}
<div class="row">
    <div class="columns small-6 large-6"><h3>Holiday</h3></div>
    <div class="columns small-6 large-6 padding-top-10 text-right">
        <a href="@Url.Action("Create")" class="button radius tiny">Create</a>
    </div>
</div>
<div class="table-container">
    <div class="table-row-head row">
        <div class="table-column columns small-4">Title</div>
        <div class="table-column columns small-2">Start Date</div>
        <div class="table-column columns small-2">End Date</div>
        <div class="table-column columns small-3">Last Update</div>
        <div class="table-column columns small-1">Tools</div>
    </div>


    @foreach (var item in Model)
    {
        <div class="table-row row">
            <div class="table-column columns small-4">
                @Html.DisplayFor(modelItem => item.Title)
            </div>
            <div class="table-column columns small-2 text-center">
                @if (item.StartDate.HasValue) { 
                    @item.StartDate.Value.ToString("dd-MMM-yyyy")
                }else{
                    <span> </span>
                }
            </div>
            <div class="table-column columns small-2 text-center">
                @if (item.EndDate.HasValue)
                {
                    @item.EndDate.Value.ToString("dd-MMM-yyyy")
                }
                else
                {
                    <span> </span>
                }
            </div>
            <div class="table-column columns small-3 text-center">
                @item.UpdateDate.ToString("dd-MMM-yyyy") (@DiethelmTSWebsite2015.Biz.SysUserBiz.GetUserName(userList, item.UpdateBy))
            </div>
            <div class="table-column columns small-1 text-center">
                <a href="@Url.Action("Edit", new { id = item.ID })"><img src="/Images/icon_edit.png"> </a>
                <a href="#" onclick="Delete('@item.ID')"><img src="/Images/icon_delete.png"></a>
            </div>
        </div>
    }

</div>


<div class="float-right">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }), (PagedListRenderOptions)ViewBag.PagedListRender)
</div>

@section Scripts {
    <script type="text/javascript" defer>

        function Delete(id) {
            if (confirm("Do you want to delete?")) {
                $.ajax({
                    url: '@Url.Action("Delete", "Holiday")?id=' + id,
                    type: 'GET',
                    async: false,
                    success: function (result) {
                        location.reload();
                    }
                });
            }
        }
    </script>
}
