@using DiethelmTSWebsite2015.Biz;
@model IList<DiethelmTSWebsite2015.Models.SysCategory>
@{
    Layout = null;
    SysCategoryBiz biz = new SysCategoryBiz();
}

<div class="row side-menu">
    @foreach (var item in Model)
    {
        <div class="medium-12 large-12 column">
@*            <a onclick="ChangeContent(@item.ID,'@item.Title')" id="@item.ID">&#8226; @item.Title </a>*@
            <img src="/Images/@item.Image" /><a href="@item.Link"> @item.Title </a>
        </div>
    }
</div>