<div id="NewsFeatures">
    <div class="row">
        <div class="small-12 medium-12 columns">
            <h4 class="content-subject">News &amp; Features</h4>
        </div>
        <div class="small-12 medium-12 columns content-detail">
            <div class="row news-feature" style="font-size:6px;">
                <div class="medium-12 large-12 column">
                    <a href="@Url.Action("Index","Weather")"><img src="/Images/spot.png" /><img src="/Images/blank.png" width="15" /> Seasons </a>
                </div>
                <div class="medium-12 large-12 column">
                    <a href="@Url.Action("Index","Festival")"><img src="/Images/spot.png" /><img src="/Images/blank.png" width="15" /> Festivals </a>
                </div>
                <div class="medium-12 large-12 column">
                    <a href="@Url.Action("Index","Holiday")"><img src="/Images/spot.png" /><img src="/Images/blank.png" width="15" /> Public Holiday </a>
                </div>                
                <div class="medium-12 large-12 column">
                    <a href="@Url.Action("TravelTips", "NewFeature")"><img src="/Images/spot.png" /><img src="/Images/blank.png" width="15" /> Travel tips </a>
                </div>
                <div class="medium-12 large-12 column">
                    <a href="@Url.Action("MajorTouristDestination", "NewFeature")"><img src="/Images/spot.png" /><img src="/Images/blank.png" width="15" /> Major Tourist Destination </a>
                </div>
                <div class="medium-12 large-12 column">
                    <a href="@Url.Action("Index","Dining")"><img src="/Images/spot.png" /><img src="/Images/blank.png" width="15" /> Dining Guide </a>
                </div>
                <div class="medium-12 large-12 column">
                    <a href="@Url.Action("Index","Shopping")"><img src="/Images/spot.png" /><img src="/Images/blank.png" width="15" /> Shopping Guide </a>
                </div>
                <div class="medium-12 large-12 column">
                    <a href="@Url.Action("TermConditions", "NewFeature")"><img src="/Images/spot.png" /><img src="/Images/blank.png" width="15" /> Term & Conditions </a>
                </div>
                <div class="medium-12 large-12 column">
                    <a href="#"><img src="/Images/spot.png" /><img src="/Images/blank.png" width="15" /> Driving Distance </a>
                </div>
            </div>
        </div>
    </div>
</div>