@using DiethelmTSWebsite2015.Biz
@using DiethelmWebServiceClient.TSWS

@model DiethelmWebServiceClient.TSWS.DetailsPackage

@{
	ViewBag.Title = "Detail";
	Layout = "~/Views/Shared/_LayoutWeb.cshtml";

	List<string> imageList = ViewBag.ImageList;
	List<DiethelmWebServiceClient.TSWS.Package> packagePeroidList = ViewBag.PackagePeroidList;

	List<PackageRating> tourType = ViewBag.TourType;
	List<PackageRating> tourLevel = ViewBag.TourLevel;
	List<PackageRating> tourComfort = ViewBag.TourComfort;


	List<string> hints = ViewBag.Hints;


	double StartingPrice = ViewBag.StartingPrice;
	string Currency = ViewBag.Currency;
	int i = 0;

	bool IsDisplayHint = hints.Count() > 0;
}

@using (Html.BeginForm("TravellerPackage", "Booking", FormMethod.Post, new { id = "frm" }))
{
    <input type="hidden" id="PackageID" name="PackageID" value="@ViewBag.PackageID"/>
    <input type="hidden" id="PackageName" name="PackageName" value="@ViewBag.PackageName" />
    <input type="hidden" id="FromDate" name="FromDate" />
    <input type="hidden" id="ToDate" name="ToDate" />
    <input type="hidden" id="MainElementID" name="MainElementID" value="MainElementID" />
    <input type="hidden" id="MainElementName" name="MainElementName" value="MainElementName" />
    <input type="hidden" id="Module" name="Module" value="Package" />
    <input type="hidden" id="StartingPrice" name="StartingPrice" value="@StartingPrice.ToString("#,##0.00")" />
    <input type="hidden" id="Currency" name="Currency" value="@Currency" />
    <input type="hidden" id="SingleRoomTypeID" name="SingleRoomTypeID" value="@ViewBag.SingleRoomTypeID" />
    <input type="hidden" id="DoubleRoomTypeID" name="DoubleRoomTypeID" value="@ViewBag.DoubleRoomTypeID" />
    
    
        
    
    
    <div class="row step-title">
        <div class="small-12 medium-4 columns">
            <h3 class="step-title-label">Holidays search</h3>
        </div>
        <div class="small-12 medium-8 columns progress-bar">
            <img src="~/Images/progress_s2.png" />
        </div>
    </div>
    <div class="row hotel-detail">
        <div class="column small-12 show-for-small right">
            <input type="button" value="< Back" class="button btn-gray right tiny " onclick="history.back();" />
        </div>
        <div class="column medium-10 small-12 detail-title">
            @ViewBag.PackageName
        </div>
        <div class="column medium-2 hide-for-small right">
            <input type="button" value="< Back" class="button btn-gray right " onclick="history.back();" />
        </div>
      
    </div>
    
    
   <div class="row">
       <div class="columns small-12 medium-8 owl-theme-area detail-slide-img-cover">
           <div id="slice-content-package" class="owl-carousel owl-theme">
               @if (imageList != null)
			   {
				   foreach (var image in imageList)
				   {
                       <div class="item">
                           <img src="@image" title="@Model.PACKAGE_NAME" alt="@Model.PACKAGE_NAME" /><br />
                       </div>
				   }
			   }
           </div>
       </div>
       <div class="columns small-12 medium-4 map-area-padckage">
           <img src="@ViewBag.Map" onerror="this.onerror = null; this.src = '/Images/Noimage.jpg';" title="@Model.PACKAGE_NAME" alt="@Model.PACKAGE_NAME" />
       </div>
    </div>

    <div class="row margin-top15">
        <div class="column small-12">
            <div class="hotel-detail-section"></div>
        </div>
        <div class="column small-12 medium-3">
            <label class="hotel-detail-label">Tour Highlight</label>
        </div>
        <div class="column small-12 medium-9 hotel-detail-text">
            @ViewBag.TourHighlight
        </div>
    </div>
    <div class="row">
        <div class="column small-12">
            <div class="hotel-detail-section"></div>
        </div>
        <div class="column small-12 medium-3">
            <label class="hotel-detail-label">Description</label>
        </div>
        <div class="column small-12 medium-9 hotel-detail-text">
             @Model.PACKAGE_DESCRIPTION
        </div>
    </div>
    <div class="row">
        <div class="column small-12">
            <div class="hotel-detail-section"></div>
        </div>
        <div class="column small-12 medium-3">
            <label class="hotel-detail-label">Tour Rating</label>
        </div>
        <div class="column small-12 medium-9 hotel-detail-text">
            <div class="row">
                <div class="column small-2 tour-rating-label">
                    Tour Type <div class="float-right">:</div>
                </div>
                <div class="column small-10 tour-rating-text">
                     @foreach (var item in tourType)
					 {
                         <span>@item.NAME</span>
					 }
                </div>
            </div>
            <div class="row">
                <div class="column small-2 tour-rating-label">
                    Tour Comfort <div class="float-right">:</div>
                </div>
                <div class="column small-10 tour-rating-text">
                     @foreach (var item in tourComfort)
					 {
                         <span>@item.NAME</span>
					 }
                </div>
            </div>
            <div class="row">
                <div class="column small-2 tour-rating-label">
                    Tour Level<div class="float-right">:</div>
                </div>
                <div class="column small-10 tour-rating-text">
                     @foreach (var item in tourLevel)
					 {
                         <span>@item.NAME</span>
					 }
                </div>
            </div>
        </div>
    </div>
    <div class="page-title page-title-package">
        <div class="row">
            <div class="column small-12">
                <img src="/Images/yellow-arrow.png" /> Please Select
            </div>
        </div>
    </div>
	<div class="gray-bg">
		 <div class="row">
				<div class="column small-12">
					<div class="hotel-detail-section"></div>
				</div>
				<div class="column small-12 medium-3">
					<label class="hotel-detail-label">Availability</label>
				</div>
				<div class="column small-12 medium-9  ">
					<div class="row">
						<div class="column small-12 small-label padding-top-25">Available Peroid</div>
						<div class="column small-12 ">
						@if (packagePeroidList != null)
						{
							<select name="PackagePeroid">
								@foreach (var item in packagePeroidList)
								{
									<option value="@item.PACKAGE_ID,@item.PACKAGE_START_DATE,@item.PACKAGE_END_DATE">@DateTime.ParseExact(item.PACKAGE_START_DATE, "yyyy-MM-dd", null).ToString(TSDifine.DATE_FORMAT) - @DateTime.ParseExact(item.PACKAGE_END_DATE, "yyyy-MM-dd", null).ToString(TSDifine.DATE_FORMAT)</option>   
                
									if (item == packagePeroidList.First())
									{
										@*<script>

											$("#FromDate").val('@item.PACKAGE_START_DATE');
											$("#ToDate").val('@item.PACKAGE_END_DATE');
											$('#Loading').foundation('reveal', 'open');
											$.ajax({
												url: '@Url.Action("GetPackageService", "Package")',
												type: 'GET',
												data: { Param: '@item.PACKAGE_ID,@item.PACKAGE_START_DATE,@item.PACKAGE_END_DATE' },
												success: function (data) {
													//alert(data.data);
													$("#PackageServiceBox_Double").html(data.data);
													$('#Loading').foundation('reveal', 'close');
												}
											});
										</script>*@
									}
								}
							</select>
						}

						</div>
					</div>
				</div>
			</div>
		
		<div class="row">
			<div class="column small-12">
				<div class="hotel-detail-section"></div>
			</div>
			<div class="column small-12 medium-3">
				<label class="hotel-detail-label">Service options</label>
			</div>
			<div class="column small-12 medium-9 service-option">
				<div id="DoubleRoom" class="service-option-box" >
					<div class="row">
						<div class="column small-12 small-label ">
							Double Room
						</div>
					</div>
					<div class="row">
						<div class="column small-12">
							<label class="service-option-label">Please input passenger</label>
						</div>
						<div class="column medium-1 hide-for-small">
							&nbsp;
						</div>
						<div id="Traveller_Double" class="column small-12 medium-11 hotel-detail-text padding-top-25 double-room">
                
						</div>
					</div>
					<div class="row">
						<div class="column small-12">
							<label class="service-option-label">Please choose one of the service</label>
						</div>
						<div class="column medium-1 hide-for-small">
							&nbsp;
						</div>
						<div class="column small-12 medium-11 hotel-detail-text padding-top-25">
							<div id="PackageServiceBox_Double">
							</div>
						</div>
					</div>
					<div class="row">
						@*<div class="column small-12 medium-3">
							<label class="hotel-detail-label">Alternative Hotel Option</label>
						</div>*@
						<div class="column medium-1 hide-for-small">
							&nbsp;
						</div>
						<div class="column small-12 medium-11 hotel-detail-text padding-top-25">
							<div id="PackageOptionBoxDouble">
							</div>
							<!--<div class="tab-content-line right"></div>-->
						</div>
					</div>
        
				</div>
    
				<div id="SingleRoom" class="service-option-box">
					<div class="row">
						<div class="column small-12 small-label ">
							Single Room
						</div>
					</div>
					<div class="row">
						<div class="column small-12">
							<label class="service-option-label">Please input passenger</label>
						</div>
						<div class="column medium-1 hide-for-small">
							&nbsp;
						</div>
						<div id="Traveller_Single" class="column small-12 medium-11 hotel-detail-text padding-top-25 single-room">
                
						</div>
					</div>
					<div class="row">
						<div class="column small-12">
							<label class="service-option-label">Please choose one of the service</label>
						</div>
						<div class="column medium-1 hide-for-small">
							&nbsp;
						</div>
						<div class="column small-12 medium-11 hotel-detail-text padding-top-25">
							<div id="PackageServiceBox_Single">
							</div>
						</div>
					</div>
					<div class="row">
						@*<div class="column small-12 medium-3">
							<label class="hotel-detail-label">Alternative Hotel Option</label>
						</div>*@
						<div class="column medium-1 hide-for-small">
							&nbsp;
						</div>
						<div class="column small-12 medium-9 hotel-detail-text padding-top-25">
							<div id="PackageOptionBoxSingle">
							</div>
							<!--<div class="tab-content-line right"></div>-->
						</div>
					</div>
				</div>
				<div class="row">
					<div class="column small-12 package-price-box">
						<div class="small-label-package float-left">Total Price <div id="PackagePrice" class="price font-red"><br /></div></div>
                    
							<div class="float-right"><input type="button" value="Select" class="button right" onclick="ShowHints()"/></div>
					</div>
				</div>
			</div>
		</div>
   </div>
    
    <div class="row padding-top-25">
        <div class="column small-12">
            <div class="hotel-detail-section"></div>
        </div>
        <div class="column small-12 medium-3">
            <label class="hotel-detail-label">Itinerary</label>
        </div>
        <div class="column small-12 medium-9 hotel-detail-text">
            @if (Model.ITINERARY_DETAILS != null && Model.ITINERARY_DETAILS.Count() > 0)
			{
				foreach (var item in Model.ITINERARY_DETAILS)
				{
					if (i == 0)
					{
                        <div class="top-toggle-tineray display-block" onclick="ContactToggle('@item.DAY')">
                            <div class="itineray-day">Day @item.DAY </div> <div class="itineray-title">@item.ITINERARY_DAY_DESC
                            <div class="@item.DAY right" style="display:none;"><img src="/Images/red-arrow1.png" /></div><div class="@item.DAY right"><img src="/Images/red-arrow2.png" /></div> </div>
                        </div>
                        <div class="bottom-toggle-tineray" id="@item.DAY">
                                <div>@Html.Raw(HttpUtility.HtmlDecode(item.ITINERARY_TEXT))</div>
                        </div>
					}
					else
					{ 
                        <div class="top-toggle-tineray display-block" onclick="ContactToggle('@item.DAY')">
                            <div class="itineray-day">Day @item.DAY </div> <div class="itineray-title">@item.ITINERARY_DAY_DESC
                            <div class="@item.DAY right" ><img src="/Images/red-arrow1.png" /></div><div class="@item.DAY right" style="display:none;"><img src="/Images/red-arrow2.png" /></div> </div>
                        </div>
                        <div class="bottom-toggle-tineray" style="display:none;" id="@item.DAY">
                            <div>@Html.Raw(HttpUtility.HtmlDecode(item.ITINERARY_TEXT))</div>
                        </div>
					}
					i++;
                @* <div class="top-toggle-tineray display-block" onclick="ContactToggle('@item.DAY')">
                    <div class="itineray-day">Day @item.DAY </div> <div class="itineray-title">@item.ITINERARY_DAY_DESC
                    <div class="@item.DAY right" style="display:none;"><img src="/Images/red-arrow1.png" /></div><div class="@item.DAY right"><img src="/Images/red-arrow2.png" /></div> </div>
                </div>
                <div class="bottom-toggle-tineray" id="@item.DAY">
                        <div>@Html.Raw(HttpUtility.HtmlDecode(item.ITINERARY_TEXT))</div>
                </div>
                <div>Day @item.DAY @item.ITINERARY_DAY_DESC</div>
                <div>@HttpUtility.HtmlDecode(item.ITINERARY_TEXT)</div>*@
				}
			}
        </div>
    </div>
    <div class="row">
        <div class="column small-12">
            <div class="hotel-detail-section"></div>
        </div>
        <div class="column small-12 medium-3">
            <label class="hotel-detail-label">Include</label>
        </div>
        <div class="column small-12 medium-9 hotel-detail-text">
             @Model.PACKAGE_INCLUSIONS
        </div>
    </div>
    <div class="row">
        <div class="column small-12">
            <div class="hotel-detail-section"></div>
        </div>
        <div class="column small-12 medium-3">
            <label class="hotel-detail-label">Exclude</label>
        </div>
        <div class="column small-12 medium-9 hotel-detail-text">
             @Model.PACKAGE_EXCLUSIONS
        </div>
    </div>
    <div class="row">
        <div class="column small-12">
            <div class="hotel-detail-section"></div>
        </div>
        <div class="column small-12 medium-3">
            <label class="hotel-detail-label">Note</label>
        </div>
        <div class="column small-12 medium-9 hotel-detail-text">
            <ul>
             @foreach (var item in Model.PACKAGE_NOTES)
			 {
                 <li>@item.NOTE_TEXT</li>
			 }
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="column small-2 right">
            <input type="button" value="< Back" class="button btn-gray right " onclick="history.back();" />
        </div>
    </div>
    
    <div id="cloneTemplate">
        <div class="child-age columns small-4 left hide">
            <select name="ChildAge" class="childAge-amount">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
            </select>
        </div>
        <div class="row child-row hide">
            <div class="columns small-12">
                <div>
                    <label class="search-label">Age</label></div>
                <div class="child-container row">
                </div>
            </div>
        </div>
        <div class="room columns small-12 hide">
            <div class="row">
                <div class="columns medium-12 small-12">
                    <div class="room-selection">
                        <div class="row">
                            <div class="columns medium-6 small-6">
                                <label class="search-label">Adults</label>
                                <select name="Adults" class="adult-amount">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                            <div class="columns medium-6 small-6">
                                <label class="search-label">Children</label>
                                <select name="Children" class="child-amount">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {

    <script src="@Url.Content("~/Scripts/TS/Package.js")"></script>
    <script src="@Url.Content("~/Scripts/TS/Utility.js")"></script>

    <script type="text/javascript" >
        function ContactToggle(id) {
            $('#' + id).slideToggle();
            $('.' + id).toggle();
        }

        $('select[name=PackagePeroid]').change(function () {

        });

        function ConvertFormToJsonForGetService(form, section, OccupancyID) {

            var result = {};
            //result.RoomAmount = form.find('#' + parentID + ' select[name=RoomAmount]').val();
            result.StartDate = $("#FromDate").val();
            result.EndDate = $("#ToDate").val();

            var rooms = [];

            form.find('.' + section).each(function (i) {

                //var parentID = $(this).attr("id");


                var room = {};
                var adults = $(this).find('select[name=Adults] option:selected').val();
                room.OccupancyID = OccupancyID;
                room.Adults = adults;
                room.Children = [];

                var childAges = $(this).find('.child-container .child-age');

                childAges.each(function (k) {
                    var childAge = {};
                    var age = $(this).find('select[name=ChildAge] option:selected').val();
                    childAge.Age = age;
                    room.Children.push(childAge);
                });

                rooms.push(room);


            });

            result.Rooms = rooms;


            //$.each($("input[type='checkbox']:checked"), function (index, value) {
            //    var extra = {};
            //    extra.ServiceID = value.defaultValue.split("&")[2];
            //    extra.ServiceExtraID = value.defaultValue.split("&")[0];
            //    extras.push(extra);
            //});

            //result.Extras = extras;

            return JSON.stringify(result);
        }
        

        $(document).on('change', 'select.adult-amount', function () {
            if ($(this).val() != "0") {
                GetPackageService($(this).attr("data-OccupancyID"), $(this).attr("data-GroupID"), $(this).attr("data-DivPassengerClass"), $(this).attr("data-DivServiceBoxID"));
            }
            else {
                var divID = $(this).attr("data-DivServiceBoxID");
                $("#" + divID).html("");
                CalPrice();
            }
        });

        $(document).on('change', 'select.child-amount', function () {

            var numberOfChildren = $(this).find('option:selected').val();
            var room = $(this).closest('.room');
            room.find('.child-row').remove();

            //CalPrice();

            //if (parseInt(numberOfChildren) == 0) {
            //    return;
            //}

            var childRow = $('#cloneTemplate .child-row').first().clone();
            childRow.addChildAge(parseInt(numberOfChildren), $(this).attr("data-ServiceID"), $(this).attr("data-GroupID"), $(this).attr("data-DivPassengerClass"), $(this).attr("data-OccupancyID"), $(this).attr("data-PriceID"), $(this).attr("data-DivServiceBoxID"));
            room.find('.room-selection').append(childRow);
            room.find('*').removeClass('hide');

            var parentID = $(this).attr('data-parentID');

            GetPackageService($(this).attr("data-OccupancyID"), $(this).attr("data-GroupID"), $(this).attr("data-DivPassengerClass"), $(this).attr("data-DivServiceBoxID"));
        });

        $(document).on('change', 'select.childAge-amount', function () {
            GetPackageService($(this).attr("data-OccupancyID"), $(this).attr("data-GroupID"), $(this).attr("data-DivPassengerClass"), $(this).attr("data-DivServiceBoxID"));
        });

        function GetPackageService(OccupancyID, groupID, divPassengerClass, divServiceBoxID) {
            var obj = $('select[name=PackagePeroid]').val().split(',');

            $("#FromDate").val(obj[1]);
            $("#ToDate").val(obj[2]);

            var result = ConvertFormToJsonForGetService($('#frm'), divPassengerClass, OccupancyID);

            $.ajax({
                url: '@Url.Action("SetGetServiceInfo", "Package")',
                type: 'POST',
                data: result,
                contentType: "application/json",
                success: function (data) {
                    //$('#Loading').foundation('reveal', 'open');
                    $.ajax({
                        url: '@Url.Action("GetPackageService", "Package")',
                        type: 'GET',
                        data: { Param: $('select[name=PackagePeroid]').val(), token: guid() },
                        success: function (result) {
                            $("#" + divServiceBoxID).html(result.data);
                            CalPrice();
                            //$("#PackagePrice").html(result.priceText + " " + $("#Currency").val());
                            //$('#Loading').foundation('reveal', 'close');
                        }
                    });
                }
            });

            
            
        }

        $(document).ready(function () {

            var containerDoubleRoom = $('#Traveller_Double');
            containerDoubleRoom.clearRoom();
            containerDoubleRoom.addNewRoom(1, $("#DoubleRoomTypeID").val(), "DoubleRoom", "double-room", "PackageServiceBox_Double");

            var containerSingleRoom = $('#Traveller_Single');
            containerSingleRoom.clearRoom();
            containerSingleRoom.addNewRoom(1, $("#SingleRoomTypeID").val(), "SingleRoom", "single-room", "PackageServiceBox_Single");

            $('#slice-content-package').each(function () {
                if ($(this).find('.item').length > 1) {
                    $(this).owlCarousel({
                        dots: true,
                        autoplaySpeed: 1000,
                        items: 1,
                        autoplay: true,
                        autoplayTimeout: 1000,
                        loop: true
                    })
                } else {
                    $(this).owlCarousel({
                        dots: true,
                        autoplaySpeed: 1000,
                        items: 1,
                        autoplay: true,
                        autoplayTimeout: 1000,
                        loop: false
                    })
                }
            });
        });
        function GetAltHotelOption(packageID, packageStartDate, packageEndDate, elementID, elementName) {

            $("#PackageID").val(packageID);
            $("#MainElementID").val(elementID);
            $("#MainElementName").val(elementName);
            $('#Loading').foundation('reveal', 'open');
            $.ajax({
                url: '@Url.Action("GetAltHotelOption", "Package")',
                type: 'GET',
                data: {
                    PackageID: packageID,
                    StartDate: packageStartDate,
                    EndDate: packageEndDate,
                    ElementID: elementID
                },
                success: function (data) {
                    $("#PackageOptionBox").html(data.data);
                    $("#PackagePrice").html(data.price + " " + data.currency);
                    $('#Loading').foundation('reveal', 'close');
                }
            });
        }

        function ShowHints() {
            var IsDisplayHint = true;

            @if (IsDisplayHint)
			{
                <text>IsDisplayHint = true;</text>
			}
			else
			{
                <text>IsDisplayHint = false;</text>
			}

            if (IsDisplayHint) {
                $("#HintsPopup").foundation('reveal', 'open');
            }
            else {
                Book();
            }
        }

        function CloseHints() {
            $("#HintsPopup").foundation('reveal', 'close');
        }

        function Book() {

            $('#Loading').foundation('reveal', 'open');

            var result = ConvertFormToJsonForBook($('#frm'));

            $.ajax({
                url: '@Url.Action("SetDetailData", "Package")',
                    type: 'POST',
                    data: result,
                    contentType: "application/json",
                    success: function (data) {
                        $("#frm").submit();
                    }
                });
            
        }

        function CalPrice() {
            var totalPrice = 0;
            $.each($("#PackageServiceBox_Double input[type='radio']:checked"), function (index, value) {
                totalPrice += Number(value.defaultValue.split("#")[2]);
            });

            $.each($("#PackageServiceBox_Single input[type='radio']:checked"), function (index, value) {
                totalPrice += Number(value.defaultValue.split("#")[2]);
            });

            $("#PackagePrice").html(currencyFormat(totalPrice) + " " + $("#Currency").val());
        }

        function currencyFormat(num) {
            return num.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
        }

        function ConvertFormToJsonForBook(form) {

            var result = {};
            //result.RoomAmount = form.find('#' + parentID + ' select[name=RoomAmount]').val();
            result.FromDate = $("#FromDate").val();
            result.ToDate = $("#ToDate").val();
            result.PackageID = $("#PackageID").val();
            result.PackageName = $("#PackageName").val();

            var rooms = [];
            var extras = [];

            form.find('#DoubleRoom').each(function (i) {
                var parentID = $(this).attr("id");

                var roomOccupancy = 0;
                var serviceID = $("#PackageID").val();
                var elementName = "";
                var roomTypeID = 0;

                $.each($("#PackageServiceBox_Double input[type='radio']:checked"), function (index, value) {
                    roomOccupancy = value.defaultValue.split("#")[0];
                    roomTypeID = value.defaultValue.split("#")[1];
                    elementName = value.defaultValue.split("#")[3];
                });

                $(this).find('.room').each(function (j) {

                    var room = {};
                    var adults = $(this).find('select[name=Adults] option:selected').val();
                    room.OccupancyID = roomOccupancy;
                    //room.ServiceID = serviceID;
                    room.ElementID = roomTypeID;
                    room.ElementName = elementName;
                    room.Adults = adults;
                    room.Children = [];

                    var childAges = $(this).find('.child-container .child-age');

                    childAges.each(function (k) {
                        var childAge = {};
                        var age = $(this).find('select[name=ChildAge] option:selected').val();
                        childAge.Age = age;
                        room.Children.push(childAge);
                    });

                    rooms.push(room);
                });

            });

            form.find('#SingleRoom').each(function (i) {
                var parentID = $(this).attr("id");

                var roomOccupancy = 0;
                var serviceID = $("#PackageID").val();

                var roomTypeID = 0;
                var elementName = "";

                $.each($("#PackageServiceBox_Single input[type='radio']:checked"), function (index, value) {
                    roomOccupancy = value.defaultValue.split("#")[0];
                    roomTypeID = value.defaultValue.split("#")[1];
                    elementName = value.defaultValue.split("#")[3];
                });

                $(this).find('.room').each(function (j) {

                    var room = {};
                    var adults = $(this).find('select[name=Adults] option:selected').val();
                    room.OccupancyID = roomOccupancy;
                    room.ServiceID = serviceID;
                    room.ElementID = roomTypeID;
                    room.ElementName = elementName;
                    room.Adults = adults;
                    room.Children = [];

                    var childAges = $(this).find('.child-container .child-age');

                    childAges.each(function (k) {
                        var childAge = {};
                        var age = $(this).find('select[name=ChildAge] option:selected').val();
                        childAge.Age = age;
                        room.Children.push(childAge);
                    });

                    rooms.push(room);
                });

            });

            result.Rooms = rooms;

            return JSON.stringify(result);
        }
    </script>
}


@section popup
{
<div id="HintsPopup" class="reveal-modal medium" data-reveal>

    <div class="row">
        <div class="column small-12">
            Hints
        </div>
    </div>
    <div class="row">
        @foreach (var item in hints)
		{
            <div class="column small-12 ">
                <p style="text-indent: 50px;" class="hotel-detail-text">@item</p>
            </div>
		}
    </div>
    <div class="row ">
        <div class="column small-12 text-right">
            <input type="button" value="OK" class="button tiny" onclick="Book()" />
            <input type="button" value="Close" class="button tiny" onclick="CloseHints()" />
        </div>
    </div>
</div>
}



